## Deliverable 2. Create a Customer Travel Destinations Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,5.4112,100.3354,83.89,75,20,3.00,few clouds
1,1,Perote,MX,19.5667,-97.2333,46.67,89,100,3.78,overcast clouds
2,2,West Lafayette,US,40.4259,-86.9081,22.10,71,100,9.22,overcast clouds
3,3,Vao,NC,-22.6667,167.4833,77.92,84,74,4.36,broken clouds
4,4,Alanya,TR,36.5438,31.9998,51.93,77,100,25.10,overcast clouds

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,5.4112,100.3354,83.89,75,20,3.00,few clouds
3,3,Vao,NC,-22.6667,167.4833,77.92,84,74,4.36,broken clouds
8,8,Carnarvon,AU,-24.8667,113.6333,87.87,35,15,17.27,few clouds
9,9,Noumea,NC,-22.2763,166.4572,80.01,99,34,3.20,scattered clouds
12,12,Rikitea,PF,-23.1203,-134.9692,77.88,72,100,11.05,overcast clouds
16,16,Kapaa,US,22.0752,-159.3190,71.92,83,100,1.01,overcast clouds
17,17,Port Elizabeth,ZA,-33.9180,25.5701,89.10,73,0,28.77,clear sky
18,18,The Valley,AI,18.2170,-63.0578,82.81,61,20,17.27,few clouds
19,19,Faanui,PF,-16.4833,-151.7500,79.75,77,100,12.01,moderate rain
20,20,Kalmunai,LK,7.4167,81.8167,74.71,68,43,5.88,scattered clouds

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                274
City                   274
Country                267
Lat                    274
Lng                    274
Max Temp               274
Humidity               274
Cloudiness             274
Wind Speed             274
Current Description    274
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Georgetown,MY,83.89,few clouds,5.4112,100.3354,
3,Vao,NC,77.92,broken clouds,-22.6667,167.4833,
8,Carnarvon,AU,87.87,few clouds,-24.8667,113.6333,
9,Noumea,NC,80.01,scattered clouds,-22.2763,166.4572,
12,Rikitea,PF,77.88,overcast clouds,-23.1203,-134.9692,
16,Kapaa,US,71.92,overcast clouds,22.0752,-159.3190,
17,Port Elizabeth,ZA,89.10,clear sky,-33.9180,25.5701,
18,The Valley,AI,82.81,few clouds,18.2170,-63.0578,
19,Faanui,PF,79.75,moderate rain,-16.4833,-151.7500,
20,Kalmunai,LK,74.71,scattered clouds,7.4167,81.8167,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {"radius": 5000,"type": "lodging","key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]

City                   267
Country                267
Max Temp               267
Current Description    267
Lat                    267
Lng                    267
Hotel Name             267
dtype: int64

In [47]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [52]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))